@import "../../styles/mixins";
@import "../../styles/variables";

.FilterCollectionsPageWrapper {
  .FilterCollectionsPageHeader {
    width: 100%;
    margin-bottom: 5px;
    img {
      width: 100%;
      height: inherit;
    }
    .FilterCollectionsHeadingSection {
      position: absolute;
      top: 27%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media screen and (max-width:1500px) {
        top: 200px;
      }
      @media screen and (max-width: 1100px) {
        top: 160px;
      }
      @media screen and (max-width: 900px) {
        top: 143px;
      }
      @include mobile{
        top: 27%;
        width: 100%;
      }
      .FilterCollectionsText {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 35px;
        color: $textColor;
        @media screen and (max-width: 900px) {
          font-size: 14px;
          line-height: 14px;
        }
        @include mobile{
          line-height: 1.25;
          font-size: 18px;
          text-align: center;
          display: inline-block;
          width: 100%;

        }
      }
      .FilterCollectionsHeading {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 75px;
        text-align: center;
        color: $textColor;
        @media screen and (max-width: 1300px) {
          font-size: 42px;
          line-height: 1.2;
        }
        @media screen and (max-width: 1300px) {
          font-size: 28px;
          line-height: 2.2;  
        }
        @include mobile{
          line-height: 1.25;
          font-size: 24px;
          display: inline-block;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
  .filterCollectionscardGrid {
    margin-top: 20px;
    padding: 0% 60px;
    @media screen and (max-width:1100px) {
      padding: 0% 30px;
    }

    // margin-left: 257px;
    // margin-right: 237px;
    .ant-col {
      margin-top: 30px !important;
    }
    .infinite-scroll-component__outerdiv {
      .infinite-scroll-component {
        overflow: unset !important;
      }
    }
  }
}
