@import "../../styles/mixins";
@import "../../styles/variables";

.CollectionPageWrapper {
  width: 100%;
  background: #ffffff;
  .searchBar {
    width: 100%;
    height: 120px;
    background: $SkyBlurColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 5%;
    .reset {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: $OrangeColor;
      margin-left: 27px;
    }
    .inputSection {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .filterImage {
        margin-left: 27px;
      }
      .filterDropdown {
        width: 150px;
        height: 45px;
        background: $textColor;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 27px;
      }
      .searchInput {
        width: 348px;
        .ant-input-affix-wrapper {
          border: none !important;
          border-radius: 5px;
          height: 45px;
        }
      }
    }
  }
  .resultCardsGrid {
    .heading {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      // margin-left: 257px;
      padding: 0% 5%;
      margin-top: 40px;
      .resultCount {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 35px;
        color: $GrayColor;
      }
    }
    .cardGrid {
      margin-top: 2px;
      padding: 0% 5%;
      .ant-col {
        margin-top: 30px !important;
      }
    }
  }
  .selectedCollection {
    margin-top: -167px;
    padding: 0% 5%;
    .CollectionDetailsSubHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .searchedCard {
    }
  }
  .CollectionPageHeader {
    width: 100%;
    margin-bottom: 5px;
    img {
      width: 100%;
      height: inherit;
    }
  }
}
