@import "../../styles/mixins";
@import "../../styles/variables";

.ProfileCollectionsFlickerWrapper {
  width: 63%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  @include mobile{
      width: 100%;
      padding: 0% 5%;
  }
  .arrow {
    // padding: 8px 14px;
    // background: $ExploreBtnBg;
    // border-radius: 5px;
    cursor: pointer;
  }
  .leftArrow {
    margin-right: 14px;
  }
  .rightArrow {
    margin-left: 14px;
  }
  .selected {
    // width: 177px;
    // height: 67px;
    padding: 15px 40px;
    background: #f37342;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    color: white;
    span {
      color: white !important;
    }
  }
  .notSelected{
    padding: 15px 40px;
    // background: #f37342;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
  }
  .dFlex{
      display: flex;
      justify-content: space-between;
      align-items: center;
      span{
          margin-left: 6px;
          color: $GrayColor;
      }
  }
}
