$headerBg: rgba(0, 0, 0, 0.25);
$textColor: #ffffff;
$ExploreBtnBg: #f37342;
$CreateBtnBg: #303549;
$TopHitsHeadingColor:#303549;
$FeaturedBg:#F2FAFC;
$Black:#000;
$ShadowBg:#f2fafc;
$breakpoint: 821px;
$InputBg:#f2fafc;
$GrayColor: #7c96b6;
$SkyBlurColor:#F2FAFC;
$OrangeColor:#F79521;
$FadeGrayColor:rgba(86, 108, 142, 0.45);
$FadeTextColor:#566C8E;
$OrangeShadeColor:#F37342;
