@import "../../styles/mixins";
@import "../../styles/variables";

.CreateCollectionWrapper {
  width: 100%;
  .CreateCollectionHeader {
    width: 100%;
    margin-bottom: 5px;
    img {
      width: 100%;
      height: inherit;
    }
    .CreateCollectionHeadingSection {
      position: absolute;
      top: 27%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media screen and (max-width:1500px) {
        top: 200px;
      }
      @media screen and (max-width:1100px) {
        top: 160px
      } 
      @media screen and (max-width:900px) {
        top: 143px
      }
      @include mobile {
        top: 100px; 
        width: 100%;
      }
      .CreateCollectionText {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 35px;
        color: $textColor;
        @media screen and (max-width:900px) {
          font-size: 14px;
          line-height: 14px;
        }
        @include mobile {
          line-height: 1.25;
          font-size: 18px;
          text-align: center;
          display: inline-block;
          width: 100%;
        }
      }
      .CreateCollectionHeading {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 75px;
        text-align: center;
        color: $textColor;
        @media screen and (max-width:1300px) {
          font-size: 44px;
        }
        @media screen and (max-width:900px) {
          font-size: 33px;
        }

        @include mobile {
          line-height: 1.25;
          font-size: 24px;
          display: inline-block;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
