@import "../../styles/mixins";
@import "../../styles/variables";

.chartWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 30px;
  span {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: capitalize;
    color: $CreateBtnBg;
    margin-bottom: 12px;
  }
}
