@import "../../styles/mixins";
@import "../../styles/variables";

.nftDetailSection {
  width: 100%;
  .collectionNftViewCardGrid {
    margin-top: 20px;
    padding: 0% 60px;
    @media screen and (max-width:1100px) {
      padding: 0% 30px;
    }
    // margin-left: 257px;
    // margin-right: 237px;
    .ant-col {
        margin-top: 30px !important;
        @media screen and (max-width:850px) {
          max-width: 100%;
          flex: 0 0 100%;
        }
      }
    .infinite-scroll-component__outerdiv{
      .infinite-scroll-component {
        overflow: unset !important;
      }
    }
  }
}
