@import "../../styles/mixins";
@import "../../styles/variables";

.offersWrapperApproveDiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.OffersTableButtonDisable{
  background: #d7d4d4;
  border: none;
  padding: 1.5% 4%;
  border-radius: 5px;
  font-size: 1rem;
  color: #8f8d8d;
  font-weight: 600;
  cursor: not-allowed;
}
.OffersTableButtonEnable{
  background: #f37342;
  border: none;
  padding: 1.5% 4%;
  border-radius: 5px;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}
.offersWrapper {
  margin-top: 30px;

  .ant-table-wrapper {
    margin-top: 20px;
  }
  .ant-table-pagination.ant-pagination {
    display: none;
  }
  .ant-table-cell {
    padding: 2px 0px !important;
    border: unset !important;
  }
  .ant-table-tbody > tr > td {
    padding: 18px 0px !important;
  }
  .ant-table-thead > tr > th {
    background: unset !important;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: $GrayColor;
  }
  .ant-table-thead > tr > th::before {
    display: none;
  }
  .changeColor {
    background: $CreateBtnBg;
  }
  .title {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: capitalize;
    color: $CreateBtnBg;
    margin-bottom: 12px;
  }
  .columns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    span {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: $GrayColor;
    }
  }
  .columnData {
    display: flex;
    justify-content: space-between;
    // background-color: aquamarine;
    
    img {
      width: 30px;
      height: 40px;
      object-fit: contain;
    }
   
  }
  .columnData div {
    display: flex;
    width: 15%;
    justify-content:flex-end;
    padding-right: 25px;
    // background-color: blue;
  
}
.usd{
  // background-color: rebeccapurple;
  width: 17%;
  display: flex;
  justify-content: flex-end;
  padding-right: 14px;
}

}
