@import "../../styles/mixins";
@import "../../styles/variables";

.ChangePasswordWrapper {
  width: 100%;
  padding-bottom: 30px;

  .ChangePasswordPageHeader {
    width: 100%;
    margin-bottom: 5px;
    img{
      width: 100%;
      height: inherit;
    }
  }
  .ChangePasswordFormWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -170px;
    @include mobile {
      padding: 0% 5%;
      margin-top: -50px;
    }
  .ChangePasswordForm {
    width: 60%;
    padding:20px 35px;
    margin-top: 5px;
    background: $textColor;
    box-shadow: 0px 4px 16px -7px rgba(83, 82, 237, 0.57);
    border-radius: 10px;
    @include mobile {
      width: 100%;
    }
    .form {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      .emailSentMessage {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 35px;
        color: $CreateBtnBg;
        .emailSent{
            color: $ExploreBtnBg;
        }
      }
      .passInfo {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 35px;
        color: $CreateBtnBg;
      }
      .inputField {
        width: 100%;
        // margin-top: 23px;
      }
      .MT {
        // margin-top: 59px;
      }
      .ant-form {
        width: 100%;
        // margin-top: 29px;
      }
      .ant-btn {
        height: 56px;
        background: $ExploreBtnBg;
        border: none !important;
        border-radius: 10px;
        width: 100%;
        font-family: "Rubik";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-transform: capitalize;
        color: $textColor;
        // margin-top: 13px;
      }
      .unsetLeftBorder {
        .ant-input {
          border-radius: 0px 10px 10px 0px !important;
        }
        .ant-input-group-addon {
          border-radius: 10px 0px 0px 10px !important;
        }
      }
      .ant-input-group-addon {
        background: $InputBg !important;
        line-height: 2.9715;
        background: $InputBg !important;
        border-radius: 10px !important;
        border: none !important;
      }
      .ant-input-affix-wrapper {
        background: $InputBg !important;
        line-height: 2.9715;
        background: $InputBg !important;
        border-radius: 10px !important;
        border: none !important;
      }
      .ant-input {
        background: $InputBg !important;
        line-height: 2.9715;
        background: $InputBg !important;
        border-radius: 10px !important;
        border: none !important;
      }
      .formHeadingWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 5px;
        .ChangePasswordAcc {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 28px;
          color: $CreateBtnBg;
        }
      }
    }
  }
}
}
