@import "../../styles/variables";
@import "../../styles/mixins.scss";

.TopHits {
  @include mobile {
    margin-top: 50px;
    padding: 40px 0 50px 0;
  }
  .cardGrid {
    margin-top: 20px;
    // margin-left: 257px;
    // margin-right: 237px;
    padding: 0% 60px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .ant-col {
      margin-top: 30px !important;
      flex: 33%;
      max-width: 33%;
    }
    @include mobile {
      display: none;
    }
  }
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-left: 250px;
    // margin-right: 250px;
    padding: 0% 60px;

    .topHits {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 75px;
      color: $TopHitsHeadingColor;
      @include mobile {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
      }
    }
    .discover {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 35px;
      color: $TopHitsHeadingColor;
      padding-right: 12px;
      @include mobile {
        font-size: 12px;
        line-height: 35px;
      }
    }

    a {
      img {
        @include mobile {
          height: 11px;
        }
      }
    }
  }
  .ant-carousel .slick-dots {
    position: unset;
  }
  .ant-carousel .slick-dots li button {
    background: #c4c4c4;
    border-radius: 21px;
    margin-top: 20px;
    position: unset !important;
  }
  .ant-carousel .slick-dots li.slick-active button {
    background: #f37342 !important;
    border-radius: 21px;
  }
  .ant-carousel {
    padding: 0% 5%;
    @include mobile {
      padding: 0% 30px;
    }
  }
}

@media screen and (max-width:1100px) {
  .TopHits .heading, .TopHits .cardGrid {
      padding: 0 30px;
  }
}